<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>It works!</h2><br />
    <h2>Hit Button for student page</h2>
    <form action="#" th:action="@{/student}" method=""post>
        <input type="submit" value="Submit" />
    </form>
    <h2>Hit Button for teacher page</h2>
    <form action="#" th:action="@{/teacher}" method=""post>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>